.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.loginwrapper input {
  color: black;
  background: white;
}

.loginwrapper button.btn {
  border-radius: 20px;
}
.loginbody {
  background: rgb(0, 115, 153) !important;
}
