services:
  db:
    image: mysql:latest
    container_name: mysqldb
    restart: on-failure
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123
      MYSQL_DATABASE: restaurant
    volumes:
      - mysql_data:/var/lib/mysql
      # - ./my.cnf:/etc/mysql/my.cnf:ro
    networks:
      - app-network

  php:
    image: php:8.0-apache
    container_name: php-app
    restart: on-failure
    build: .
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./apache2.conf:/etc/apache2/apache2.conf:ro
    depends_on:
      - db
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    # platform: linux/arm64
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: 123
    depends_on:
      - db
    restart: on-failure
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data: