.container {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  height: "100vh";
}

form {
  width: "100%";
  max-width: "300px";
  text-align: "center";
}

textField {
  margin-bottom: 50px;
}

.loginForm {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  height: "100%";
}
